*{
margin: 0;
padding: 0;
}
img{
vertical-align: bottom;
}
a{
text-decoration: none;
}
ul{
list-style: none;
}

/* 共通部分 */
h1{
text-align: center;
padding: 20px 0;
font-family: 'Noto Serif JP', serif;
font-size: 50px;
}
.g-nav{
width: 100%;
height: 50px;
background-color: #da441b;
margin-bottom: 50px;
}
.g-nav>ul{
display: flex;
width: 960px;
margin: 0 auto;
}
.g-nav li{
width: 20%;
border-left: 1px solid #fff;
}
.g-nav li:last-of-type>a{
border-right: 1px solid #fff;
}
.g-nav a{
display: block;
line-height: 50px;
text-align: center;
color: #fff;
font-family: 'Noto Serif JP', serif;
}
.g-nav a:hover{
background-color: #ac3413;
}
h2{
    font-family: 'Noto Serif JP', serif;
}
p{
    font-family: 'Noto Serif JP', serif;
}

footer{
width: 100%;
height: 100px;
background-color:#da441b ;
}
footer>p{
text-align: center;
line-height: 100px;
color: #fff;
}

/* トップページ部分 */
main{
width: 960px;
margin: 0 auto 100px;
}
.main-visual{
margin-bottom: 80px;
}
.main-copy{
text-align: center;
}
.main-copy>h2{
margin-bottom: 25px;
font-size: 28px;
}
.main-copy>p{
line-height: 2;
width: 600px;
margin: 0 auto;
}

/* 季節ページ部分 */
.season{
display: flex;
}
.photo{
margin-right: 40px;
}
.text>h2{
margin: 10px 0;
}
.text>p{
line-height: 1.7;
}

/* 春ページ部分 */
.spring>.g-nav{
background-color: #EB7A77;
}
.spring>footer{
background-color:#EB7A77 ;
}
.spring a:hover{
background-color:#c35f5b ;
}

/* 夏ページ部分 */
.summer>.g-nav{
background-color:#51A8DD ;
}
.summer>footer{
background-color:#51A8DD ;
}
.summer a:hover{
background-color:#255f83 ;
}

/* 秋ページ部分 */
.fall>.g-nav{
background-color:#E98B2A ;
}
.fall>footer{
background-color:#E98B2A ;
}
.fall a:hover{
background-color:#ab5e10 ;
}

/* 冬ページ部分 */
.winter>.g-nav{
background-color: #bb9aef;
}
.winter>footer{
background-color: #bb9aef;
}
.winter a:hover{
background-color: #7b62a4;
}

.current>a{
background-color:  #ac3413; /* どこのページにいるかわかるように色を変更する */
}