@charset "utf-8";

:root{ /* css変数を使ったカラーマネージメント */
--main_color:#3eac47;
}

html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;}

/* pcレイアウト */
body{
background-color: #fbffe0;
}
header{
display: none;
}
#ham-btn{
position: fixed;
top: 0;
right: 0;
z-index: 10;
background-color: #ffffffdd;
}
#g-nav{
width: 100%;
height: 100vh;
background-color: #ffffffee;
z-index: 9;
position: fixed;
top: 0;
left: 0;
display: flex;
}
#g-nav>ul{
width: 60%;
padding: 8%;
}
#g-nav li{
text-align: center;
margin-bottom: 34px;
}
#g-nav a{
font-family: 'Kaisei Decol', serif;
font-size: 34px;
color: var(--main_color);
font-weight: bold;
border-bottom: 4px dotted var(--main_color);
}
#g-nav a:hover{
color: #a52a2a;
border-bottom: 4px dotted #a52a2a;
}
.nav-img{
width: 40%;
height: 100vh;
}
.nav-img>img{
object-fit: cover;
width: 100%;
height: 100%;
}
/* メインビジュアル部分 */
.main-visual{
width: 100%;
height: 100vh;
}
.main-visual li{
width: 100%;
height: 100vh;
}
.main-visual img{
object-fit: cover;
width: 100%;
height: 100%;
}
/* 各コンテンツの見出し */
h2{
text-align: center;
font-size: 32px;
margin: 50px 0 70px;
font-family: 'Kaisei Decol', serif;
}
h2::before{ /* 疑似要素の呼び出し */
content: attr(data-en);
display: block;
color: var(--main_color);
font-family: 'Kaushan Script', cursive;
font-size: 24px;
margin-bottom: -8px;
}
/* お知らせ部分 */
#news-list{
max-width: 700px;
margin: 0 auto 100px;
display: flex;
flex-wrap: wrap;
}
#news-list>dt{
width: 25%;
background-color: var(--main_color);
color: #fff;
font-weight: bold;
padding: 16px;
margin-bottom: 18px;
border-radius: 5px 5px 0 0;
text-align: center;
}
#news-list>dd{
width: 75%;
padding: 16px;
margin-bottom: 18px;
border-bottom: 1px solid var(--main_color);
}
#news-list>:is(dt:nth-of-type(n+4),dd:nth-of-type(n+4)){
display: none;
}
/* 動画部分 */
.video-wrapper{
max-width: 800px;
aspect-ratio: 16 / 9;
margin: 0 auto 100px;
}
.ytube{
width: 100%;
height: 100%;
}
/* メニュー部分 */
.scroll-wrapper{
max-width: 1140px;
display: flex;
flex-wrap: wrap;
gap: 30px;
margin: 0 auto 100px;
}
.scroll-box{
width: calc((100% - 60px) / 3);
border-radius: 15px;
background-color: #fff2c3;
border: 1px solid var(--main_color);
}
.scroll-box>a{
color: #000;
padding: 16px;
display: block;
transition: 0.4s;
}
.scroll-box>a:hover{
box-shadow: 0 0 12px var(--main_color);
border-radius: 15px;
}
.photo{
margin-bottom: 10px;
}
/* 店舗情報部分 */
.shop-wrapper{
display: flex;
max-width: 1140px;
margin: 0 auto 100px;
justify-content: space-between;
}
.map{
width: calc(100% - 420px);
height: 500px;
}
.g-map{
width: 100%;
height: 100%;
filter: grayscale();
}
.g-map:hover{
filter: grayscale(0);
}
/* ご予約部分 */
.form{
max-width: 640px;
margin: 0 auto 100px;
}
.g-form{
width: 100%;
}

footer{
width: 100%;
height: 100px;
background-color: var(--main_color);
}
footer>p{
text-align: center;
line-height: 100px;
font-size: 18px;
color: #fff;
}


@media (max-width:960px){
/* ナビゲーション部分 */
#g-nav{
display: block;
}
.nav-img{
width: 100%;
}
#g-nav>ul{
position: absolute;
right: 0;
top: 0;
background-color: #ffffffdd;
height: 100vh;
width: 70%;
}
#g-nav li{
margin-bottom: 48px;
}
#g-nav a{
font-size: 30px;
}

/* 動画部分 */
.video-wrapper{
padding: 0 10px;
}
/* メニュー部分 */
.scroll-box{
width: calc((100% - 30px) / 2);
}
.scroll-wrapper{
padding: 0 10px;
}
/* 店舗情報部分 */
.shop-wrapper{
display: block;
}
.sns{
width: 350px;
margin: 0 auto 50px;
}
.map{
width: 94%;
height: 360px;
margin: 0 auto;
}
}
    
    
@media (max-width:640px){
header{
width: 90%;
padding: 6px;
position: absolute;
top: 80px;
left: 0;
right: 0;
margin: auto;
z-index: 8;
background-color: #FFFFFFAA;
}
/* ナビゲーション部分 */
#g-nav a{
font-size: 20px;
}
#g-nav li{
margin-bottom: 60px;
}
/* メインビジュアル部分 */
.main-visual{
height: 70vh;
}
.main-visual li{
height: 70vh;
}
/* 各コンテンツの見出し */
h2{
font-size: 30px;
margin: 40px 0 20px;
}
/* お知らせ部分 */
#news-list{
display: block;
padding: 0 10px;
}
#news-list>dt{
width: 100%;
padding: 8px;
margin-bottom: 4px;
}
#news-list>dd{
width: 100%;
padding: 8px;
margin-bottom: 30px;
}
/* メニュー部分 */
.scroll-wrapper{
scroll-snap-type: x mandatory;
overflow: auto;
flex-wrap: nowrap;
}
.scroll-box{
flex:0 0 84%;
scroll-snap-align: start;
}
}